/* style.css */

.odd-number {
    background-color: rgb(255, 192, 203);
    font-family: "Verdana", sans-serif;
}

.cooler {
    font-size: 24px;
}

#nr2 {
    color: #0000ff;
    font-size: 36px;
}

#nr4 {
    background-color: hsl(120, 69%, 70%);
    font-size: 24px;
    font-weight: bold;
}