@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer,
.header {
  display: flex;
  padding: 15px;
}

.footer {
  background-color: #eeeeee;
}

.right-links {
  margin-left: auto;
}


ul {
  display: flex;
  list-style-type: none; /* removes bullet points from list */
  gap: 15px;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none; /* removes bullet underline from links */
  color: black;
}

.content {
  align-self: center;
  text-align: center;  
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 7px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
