* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  /*added styles*/
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  /*added styles*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / 3;
  align-items: center;
}

.header .logo {
  /*added styles*/
  justify-self: start;
}

.menu ul {
  /*added styles*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #FF7755;
  /*added styles*/
  display: grid;
  gap: 50px;
  grid-row: 2 / 4;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.side-content,
.photo {
  /*added styles*/
  display: grid;
  place-items: center;
}

.nav {
  background-color: #FF7755;
  /*added styles*/

}

.nav ul {
  /*added styles*/
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(3, 1fr);
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  /*added styles*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  grid-column: 2 / 3;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
  /*added styles*/
  padding: 5px;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  /*added styles*/
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  /*added styles*/
  grid-column: 1 / 3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}