.container {
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;
  margin: auto;
}

/* two solution: 1. at container level with justify-content and align-items 2. at item level with margin: auto */