body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  font-size: 32px;
  font-weight: 900;
  align-items: center;
  padding: 16px;
}

.content {
  display: flex;
  flex-grow: 1;
}

.cards {
  display: flex;
  flex-direction: row; /* Not in the TOP solution, rightfully so since be default it is row. */
  flex-wrap: wrap;
  padding: 32px;
  justify-content: space-around;
  gap: 15px 15px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  flex: 1 0 auto;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 10px;
  width: 250px;
  flex: 1 0 auto; /* TOP solution without this, but I like it this way because it fits the screen perfectly */
}

a {
  font-size: 24px;
  color: #eee;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 15px;
}