body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  margin: 8px;
  padding: 8px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  margin: 8px;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  margin: 8px;
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  /* `margin: 0 auto;` - setting the left and right margins to 0 or else to whatever is the available space */
  margin: 0px auto;
  padding: 8px 24px;
}