.para,
.small-para {
  color: hsl(0, 100%, 50%);
}

.para {
  font-size: 22px;
}

.small-para {
  font-size: 12px;
}

.button {
  background-color: #ffc0cb;
  color: black;
  font-size: 20px;
}

.confirm {
  background: green;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* Bellow is a grouping selector: both class selectors share the same style */

.text,
.child {
  color: green;
  font-size: 28px;
}

/* Bellow is a selector chaining: more elements have the 'text' class, but we want to apply a rule to just the element with the 'child' class */

.text.child {
  color: red;
  font-size: 14px;
}