/* Descendant Combinator exercise */

.container .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

/* above uses class selectors, bellow the same results are achieved using type selectors */

div p {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}