/* Grouping class selectors exercies */

.click,
.noclick {
    font-family: "Helvetica", "Times New Roman", sans-serif;
    font-size: 28px;
}

.click {
    background-color: black;
    color: white;
}

.noclick {
    background-color: yellow;
}